/* div {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  padding-top: 20px;
  padding-left: 10px;
  margin-left: 10px;P
} */

.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: c;
  background-color: blue;
}
