.dialogs {
  display: grid;
  /* grid-template-rows: 2fr 10fr; */
  grid-template-columns: 2fr 10fr;
}

.dialogitems {
  padding: 10px;
}

.dialog {
  color: white;
}

.dialog img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.messages {
  padding: 10px;
}

.message {
}
